.cart-wrapper{
    padding: 5px;
    margin-top: 10px;
}


.cart-wrapper img{
    width: 60px;
    position: relative;
    left: 45%;
}

.product-wrapper{
    border: 1px solid rgb(236, 227, 227);
    width: 450px;
    /* height: 300px; */
    margin-left: 10%;
    padding: 10px;
    display: flex;
    box-shadow: #333 2px 3px 7px;
    transition: box-shadow ease-in-out 0.4s;
}

.product-wrapper:hover{
    box-shadow: 0 0 0;
}

.product-image img{
    width: 150px;
}

span{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

button{
    margin: 10px;
    background-color: rgb(22, 22, 209);
    font-weight: bolder;
    font-size: 19px;
    border-style: none;
    box-shadow: #333 0px 3px 5px;
    padding: 5px;
    transition: box-shadow ease-out 0.4s;
    
}

button:hover{
    box-shadow: 0 0 0;
}

.addtocart-button{
    margin-left: 3%;
}